{{velocity output=false}}

## Identity OAuth Config macros
## - a set of macros useful for editing the OAuth-related configurations
## - this page should be included with #includeInContext("IdentityOAuth.IdentityOAuthConfigMacros")
##   so that it defines a few useful constants which you can use, includes javascript and stylesheee
##   extensions. The macros it defines should be called after all necessary variables are defined,
##   notably oauthProviderHint.
## lets the JavaScript and CSS extensions be loaded
#set ($mainReference = $services.model.createDocumentReference('', 'IdentityOAuth', 'WebPreferences'))
#if (!$services.licensing.licensor.hasLicensureForEntity($mainReference))
  $services.identityoauth.init()

  #macro (ioIncludeUIX)
    $xwiki.jsx.use('IdentityOAuth.IdentityOAuthConfigClass')
    $xwiki.ssx.use('IdentityOAuth.IdentityOAuthConfigClass')
    #set($myTranslationPrefix='IdentityOAuth.IdentityOAuthConfigClass_')
  #end


  ## defines formId, propNamePrefixIO, propNamePrefixO, configDoc, objIO, objO
  #macro (initConfigObjects $configDocName $extraObjectClassPropPrefixes $translationPrefixP)
    #set($formId = "${section.toLowerCase()}_${configDocName1}")
    #set($configDoc = $xwiki.getDocument($configDocName))

    #set($classNameIO="IdentityOAuth.IdentityOAuthConfigClass")
    #set($propNamePrefixIO="${configDoc.fullName}_${classNameIO}_0")
    #set($objIO = $configDoc.getObject($classNameIO))

    #set($translationPrefix = $translationPrefixP)
    #foreach($x in $extraObjectClassPropPrefixes)
      #set($shhh = $x.add($x[0]))
      #set($x[0] = $configDoc.getObject($x[0]))
    #end
  #end


  ## t: shorthand for translation
  ## TODO: this only works from xwiki 10.2... fork for xwiki 9?
  #macro (t $name)
    $services.localization.render(["${translationPrefix}${name}", "${myTranslationPrefix}${name}"])
  #end

  ## tp: shorthand for translation with parameters
  #macro (tp $name $params)##
    #set ($msg = $services.localization.render(["${translationPrefix}${name}",
      "${myTranslationPrefix}${name}"],$params))##
    ## convert to <a href="link">link-text</a> for the simple wiki syntax of links
    $stringtool.replacePattern($msg, '\[\[([^>]*)>>([^\]]*)\]\]', '<a href="$2">$1</a>')##
  #end

  ## displayInput: displays the form element of the relevant property of the object having removed the
  ##   html macro around it.
  #macro (displayInput $property $obj)
    #set ($output = $doc.display($property, 'edit', $obj))
    #set ($output = $stringtool.removeStart($output, '{{html clean="false" wiki="false"}}'))
    #set ($output = $stringtool.removeEnd($output, '{{/html}}'))
    $output
  #end

  #macro (renderRedirectUrlInputAndHints)
    #displayInput ('redirectUrl', $objIO)<br/>
    <span class="xHint" id="redirectUrlAsExpected">#t('redirectUrl.asExpected')</span>
    <span class="xHint" id="redirectUrlAsServers">#t('redirectUrl.asExpectedServers')</span>
    <span class="xHint" id="redirectUrlAsBrowsers">#t('redirectUrl.asExpectedBrowsers')</span>
    <span class="xHint" id="redirectUrlDifferentOfAll">#t('redirectUrl.notAsExpectedAny')</span>
    <span class="xHint" id="redirectMakeItLikePredicted">##
      (<a href="#" onclick="return resetRedirectUrlBrowser()">#t('redirectUrl.recalc.predicted'))</a></span>
    <span class="xHint" id="redirectMakeItLikePredictedBrowser">##
      (<a href="#" onclick="return resetRedirectUrlBrowser()">#t('redirectUrl.recalc.browser'))</a></span>
    <span class="xHint" id="redirectMakeItLikePredictedServer">
      (<a href="#" onclick="return resetRedirectUrlServer()">#t('redirectUrl.recalc.server'))</a></span>
  #end

  #macro (calcReturnUrlsJS)
  <script type="text/javascript">
      #set($serverReturn=$xwiki.getURL('XWiki.XWikiLogin', 'login')) ## typically a host-absolute URL
      // serverReturn: $serverReturn
      #if($serverReturn.startsWith("http://") || $serverReturn.startsWith("https://"))
        ## all good
      #elseif($serverReturn.startsWith('/'))
        #set($absUrl = $xcontext.request.requestURL)
      // absUrl: $absUrl
        #set($serverReturn = "${absUrl.substring(0, $absUrl.indexOf('/',8))}${serverReturn}")
      #end
      window.placeHolderForRedirectUrl = '#tp("redirectUrl.placeHolderMessage", ["${serverReturn}"])';
      var p = window.location.href.indexOf('/admin');
      window.browserReturnUrl = (p === -1 ?
              window.location.href :
              window.location.href.substring(0, p)) + "/login/XWiki/XWikiLogin"
  </script>
  #end

  #set($hasLoadedMacros=true)
#end
{{/velocity}}