#IdentityOAuth_IdentityOAuth\.IdentityOAuthConfig > fieldset > legend {
    margin-bottom:0;
    border:none;
    font-size:100%;
    font-weight: bold;
}

#IdentityOAuth_IdentityOAuth\.IdentityOAuthConfig > fieldset {
   border: solid thin #e5e5e5;
   padding: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}
