{{velocity output="false"}}
#macro (renderLoginCodes $loginCodes $count)
  #set ($addIntermediateSpace = false)
  #foreach ($loginCode in $identityOAuth.renderLoginCodes())
    ## Add intermediate spacing.
    #if ($addIntermediateSpace)#set($loginCodes = "${loginCodes}<div class='col-xs-12'>&nbsp;</div>")#end
    #set ($count = $mathtool.add($count, 1))
    #set ($addIntermediateSpace = true)
    #if ("XWikiLogin" == $loginCode)
      #if ($generalConfigObj.getValue('displayXWikiLogin').equals(1))
        #set ($xwikiLogoUrl = $xwiki.getDocument("IdentityOAuth.WebHome").getAttachmentURL("xwiki-logo.png"))
        #set ($loginCodes= "${loginCodes}<a href='javascript:void(0)' ##
                          onclick='return loginWithXWiki()' class='btn btn-primary col-xs-12' ##
                          style='text-align:left; background: white; color: #808080; ##
                                  font-weight:bold; border: #808080 2px solid;'>##
            <img src='../../../resources/icons/xwiki/favicon.svg'
                  style='height:1.2em; margin-bottom:0.1em'>&nbsp;&nbsp;${services.localization.render('idoauth.login.withxwiki')}</a>")
      #else
        #set ($addIntermediateSpace = false)
      #end
    #else
      #set ($loginCodes="${loginCodes}${loginCode}")
    #end
  #end
#end
{{/velocity}}

{{velocity}}
#set ($mainReference = $services.model.createDocumentReference('', 'IdentityOAuth', 'WebPreferences'))
#set ($generalConfigDoc = $xwiki.getDocument('IdentityOAuth.IdentityOAuthGeneralConfiguration'))
#set ($generalConfigObj = $generalConfigDoc.getObject('IdentityOAuth.IdentityOAuthGeneralConfigClass'))
#if ($xcontext.getAction()=="login" && $doc.fullName=="XWiki.XWikiLogin")
  #if (!$services.licensing.licensor.hasLicensureForEntity($mainReference))
    #set($statusMessage = "identityOAuth installed but not licensed.")
  #else
    #set($identityOAuth = $services.idoauth)
    #if ($identityOAuth.doesDetectReturn())
      #set($statusMessage = "IdentityOAuth: return of the OAuth bounce; if all goes well, the user can be logged in.")
      #set($result = $identityOAuth.processOAuthReturn())
      #set($prfx = "failed login:")
      #if ($result.startsWith($prfx))
        #set($email = $result.substring($prfx.length()))
        #set($errorMsg = " ${services.localization.render('idoauth.login.domainerror1')} ")
        #set($errorMsg = " ${errorMsg} ${services.localization.render('idoauth.login.domainerror2')} $!{email}.")
        #set($errorMsg = " ${errorMsg} ${services.localization.render('idoauth.login.domainerror3')}")
      #elseif ($result=="ok")
        #set($successM = ${services.localization.render("idoauth.login.redirectmessage")})
        ## the browser should have been redirected by processOAuthReturn
      #else ## $result is "no user"
        #set($errorMsg = ${services.localization.render('idoauth.login.message')})
        #set($errorMsg = " ${errorMsg} ${services.localization.render('idoauth.login.error')}")
        #if($request.getAttribute("idoauth-error-message"))
          #set($errorMsg = "${errorMsg}: ${request.getAttribute('idoauth-error-message')}")
        #end
      #end
    #elseif ($request.identityOAuth == "start")
      #set($statusMsg = "IdentityOAuth Start login, should bounce to the provider.")
      #set($succesMsg = $services.localization.render("idoauth.login.oauth.message"))
      #set($success = $identityOAuth.processOAuthStart()) <!-- processOAuthStart: $success -->
      #if($success)
        #if($request.state)
          #set($successMsg = $services.localization.render("idoauth.login.oauth.successwithredirect"))
        #else
          #set($successMsg = $services.localization.render("idoauth.login.oauth.success"))
        #end
      #else
        #set($errorMsg = $services.localization.render("idoauth.login.oauth.failedOAuth"))
      #end
    #elseif ($request.identityOAuth)
      #set($statusMsg = "no such identityOAuth operation '$request.identityOAuth'")
    #elseif ("$!request.loginWithXWiki" == "true")
      ## Do nothing, so the default XWiki login page is displayed.
    #else
      #set($statusMsg = "Login page")
      ## assemble the login code from the providers
      #set($loginCodes = '<div id="idoauth-login-choice">
                             <div class="col-xs-12" style="margin-bottom: 20px; padding: 20px;">')

      #set ($count = 0)
      #renderLoginCodes($loginCodes $count)
      #set($loginCodes="${loginCodes}</div><div style='clear: both;'></div></div>")
      #if($count > 1)#set($hasSeveralLogins=true)#else#set($hasSeveralLogins=false)#end
    #end

    ## ============================================== end of velocity preparation ===============================

    {{html clean="false" wiki="false"}}<!-- this is IdentityOAuth -->
    <!-- ======= ${statusMsg} ====== -->

    #if ($successMsg || $errorMsg)
    <script type="text/javascript">
      // Identity OAuth Login Extension: Success or warning messages
      document.addEventListener('DOMContentLoaded', function() {
        var p = document.createElement("p"), div = document.createElement("div");
        #if ($successMsg)
          p.innerText = "${escapetool.javascript($successMsg)}";
          div.className = "box successmessage";
        #elseif ($errorMsg)
          p.innerText = "${escapetool.javascript($errorMsg)}";
          div.className = "box warningmessage";
        #end
        div.appendChild(p);
        var c = document.getElementById("mainContentArea")
        c.insertBefore(div, c.firstChild);
      });
    </script>
    #elseif($hasSeveralLogins)
    <script type="text/javascript">
      // Identity OAuth Login Extension: Button: offer a button to go to the provider. Don't alter the login if no other
      // providers are defined.
      document.addEventListener('DOMContentLoaded', function() {
        require(['jquery', 'xwiki-events-bridge', 'xwiki-meta'], function($, xm) {
          window.loginWithXWiki = function() {
              jQuery(".panel .panel-body dl").show()
              return false;
          }
          if (XWiki.contextaction == "login" || XWiki.contextaction == "loginsubmit" ) {
            var url = location.href, baseUrl = url;
            if (url.indexOf('?') < 0){
                url=url+'?';
            } else {
                baseUrl = url.substring(0, url.indexOf('?'));
            }
            if (url.indexOf('identityOAuth=')>=0) {
                url = url.replace(/identityOAuth=[a-zA-Z]*/, "identityOAuth=start");
            } else {
                url = url + "&identityOAuth=start";
            }
            url = url + "&browserLocation=" + escape(baseUrl);

            var loginCode = "${escapetool.javascript($loginCodes)}";
            loginCode = loginCode.replace("-URL-",url);
            jQuery(loginCode).insertBefore(jQuery(".panel .panel-body dl"));

            if (XWiki.contextaction != "loginsubmit") {
              jQuery(".panel .panel-body dl").hide();
            }
          }
        }); // end requirejs
      });
    </script>
    #end ## if ($successMsg || $errorMsg)
  {{/html}}
  #end ## identityOAuth is active
#end ## on login page
{{/velocity}}
